<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reset password</title>
  <link rel="stylesheet" href="/forget.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>


<body>
  <div class="wrapper">
    <header>Reset Password</header>
    <form action="/setPass" method="post">
      <div class="field password">
        <div class="input-area">
          <input name="password" type="password" placeholder="Password">
          <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
           <!-- below one is the most crucial part for enabling forget password  -->
           <input type="hidden" name="email" value="<%=email%>" class="form-control" id="Password">
        
        </div>
        <div class="error error-txt">Password can't be blank</div>
      </div>
      <div class="pass-txt">Avoid using previously entered password!</div>
      <input type="submit" value="Submit">
    </form>
   
  </div>

  <script src="script.js"></script>

</body>
</html>


        

          <!-- below one is the most crucial part for enabling forget password  -->
          <input type="hidden" name="email" value="<%=email%>" class="form-control" id="Password">
        